LOGLEVEL=DEBUG
B2_APPLICATION_KEY_ID='<Your Backblaze B2 Application Key ID>'
B2_APPLICATION_KEY='<Your Backblaze B2 Application Key>'
B2_BUCKET_NAME='<Your Backblaze B2 bucket name>'
B2_REGION='<Your Backblaze B2 bucket region>'
B2_PUBLIC_URL_BASE='https://s3.<Your Backblaze B2 bucket region>.backblazeb2.com/<Your Backblaze B2 bucket name>'
SHARED_SECRET='<A long random string known only to the app and its authorized clients>'
PORT=8000
